<!DOCTYPE html>
<html lang="pt-BR">
<head>
<title>Curso de Spring Boot - AW</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron text-center">
		<h1>Meu primeiro projeto com Spring Boot</h1>
		<p>Produtividade no Desenvolvimento de Aplicações Web</p>
		<p>Desenvolvido por: Leandro Tavares</p>
		<button
			onclick="window.location.href = 'https://awsble-gestao-festa.herokuapp.com/convidados'">Acesse
			o gestaofesta.app</button>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Maven</h3>
				<p>O Maven é uma ferramenta muito importante no dia a dia do
					desenvolvedor</p>
				<p>Java, porque com ele nós conseguimos automatizar uma série de
					tarefas.</p>
			</div>
			<div class="col-sm-4">
				<h3>Thymeleaf</h3>
				<p>O principal objetivo do Thymeleaf é prover uma forma elegante
					e bem formatada para criarmos nossas páginas</p>
			</div>
			<div class="col-sm-4">
				<h3>Spring Tool Suite - STS</h3>
				<p>O Spring Tool Suite, ou STS, é um Eclipse com vários plugins
					úteis para o trabalho com o Spring</p>
			</div>

		</div>
	</div>

</body>
</html>